.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerText {
  display: flex;
  flex-direction: column;
}

.headerText h1{
  margin: 0;
  font-size: 3.3em;
  color: var(--textcolor);
  text-shadow: 2px 2px 2px var(--shadow);
}

.headerText p{
  margin: 0;
  margin-top: 5px;
  color: var(--subtextcolor);
  font-size: 1.3em;
  text-shadow: 2px 2px 3px var(--shadow);
}

.headerSection button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.2em;
  transform-origin: top right;
  transition: transform 0.3s ease;
  will-change: transform;
}

.headerSection button:hover{
  transform: scale(1.03);
}

.headerSection button:focus {
  outline: 1px solid red;
}