.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerText {
  display: flex;
  flex-direction: column;
}

.headerText h1{
  margin: 0;
  font-size: 3.3em;
  color: var(--textcolor);
  text-shadow: 0px 4px 2px var(--shadow);
}

.headerText p{
  margin: 0;
  margin-top: 5px;
  color: var(--subtextcolor);
  font-size: 1.3em;
  text-shadow: 0px 3px 2px var(--shadow);
}

.headerSection button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.2em;
  transform-origin: top right;
  transition: transform 0.3s ease;
  will-change: transform;
}

.headerSection button:hover{
  transform: scale(1.03);
}

.headerSection button:focus {
  outline: 1px solid red;
}

.graphContainer{
  width: 100%;
  box-sizing: border-box;
  margin: 50px 0;
  padding: 0 30px;
}

/* BAR GRAPH STUFF */

.bargraphContainer{
  width: 100%;
  background-color: var(--sectioncolor);
  box-sizing: border-box;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 4px var(--secshadow);
}

.bargraphTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 10px;
}

.bargraphInteract {
  display:flex;
  flex-direction: row;
}

.bargraphTop h2{
  text-align: center;
  margin: 0;
  font-size: 1.3em;
  font-weight: 800;
  text-shadow: 0px 2px 2px var(--shadow);
  margin-right:20px;
}

.bargraphTop p{
  margin: 0;
  font-size: 0.9em;
}

.bargraphHelpHover p{
   font-weight: 600;
}

.bargraphDropdown {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.bargraphDropdown p{
  font-weight: 400;
  margin-right: 5px;
  display:flex;
  align-items:center;
  height: 25px;
}

.bargraphDropdown select {
  height: 25px;
  font-size:0.8em;
  font-family: var(--textfont);
  font-weight: 300;
  background-color: var(--sectioncolor);
  border-radius: 3px;
}

.bargraphDropdown option {
  font-size:1em;
  font-family: var(--textfont);
  font-weight: 300;
}

.barchart text{
  fill: var(--textcolor);
}

.barchart text.recharts-label{
  font-weight: 700;
  font-size: 0.9em;
}

/* inputs at bottom */

.bargraphInputs {
  margin-top: 50px;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.bargraphWordInput {
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

.bargraphWordInput label {
  font-family: var(--textfont);
  font-weight: 400;
  font-size: 0.9em;
}

.bargraphWordInput input {
  font-family: var(--textfont);
  font-weight: 400;
  font-size: 0.8em;
  background-color: var(--sectioncolor);
  border: 1px solid #767676;
  border-radius: 3px;
  height: 20px;
}