:root {
  --bgcolor: #FBFFFF;
  --sectioncolor: #F4F3F3;
  --textcolor: black;
  --subtextcolor: #3A3A3A;
  --headerfont: "Reddit Sans", sans-serif;
  --textfont: "Roboto", sans-serif;
  --shadow: rgba(0, 0, 0, 0.192);
}

body {
  background-color: var(--bgcolor);
  margin: 0;
  padding: 25px;
  width: 100dvw;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1, h2, button{
  font-family: var(--headerfont);
}

p {
  font-family: var(--textfont);
}